# Root ignores
.DS_Store
.env
remote.env

# Frontend ignores
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.history/
frontend/.vscode/

# Backend ignores
backend/target/
backend/.idea/
backend/*.iml
backend/.settings/
backend/.classpath
backend/.project
backend/.vscode/

# General IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
